.about_text p {
    font-style: normal;
    font-weight: 500;
    line-height: 1.41665486em;
    letter-spacing: 0.009em;
    font-size: 1.15rem;
    @media (max-width: 1024px) {
        font-size: 1.0366rem;
    }
    @media (max-width: 480px) {
        font-size: 0.9rem;
    }
}

.stat {
    font-size: 3.9502rem;
    line-height: 1.390625em;
    text-align: center;
    font-weight: 800;
    @media (max-width: 1024px) {
        font-size: 2.7644rem;
    }
    @media (max-width: 480px) {
        font-size: 1.125rem;
    }
}
.stat_head {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.44640274em;
    text-transform: capitalize;
    text-align: center;
    direction: ltr;
    @media (max-width: 1024px) {
        font-size: 0.8rem;
    }

    @media (max-width: 480px) {
        font-size: 0.5rem;
    }
}

.compro_form {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.expertise {
    img {
        width: 47px;
    }
}

.services_list {
    .service_item {
        text-decoration: none;
        border-top: 3px solid #03396c;
        border-left: 0 solid transparent;
        transition: 300ms ease;
        text-decoration: none;
        &:last-child {
            border-bottom: 3px solid #03396c;
        }
        &:hover {
            border-left: 6px solid #ff844f;
            background-color: rgba(230, 230, 230, 0.35);
            svg {
                right: -10px;
            }
        }
        p {
            color: #005b96;
            line-height: 1.2em;
            letter-spacing: 0.009em;
            font-size: 1.3125rem;
            text-decoration: none;
        }

        svg {
            position: relative;
            right: 0;
            transition: 300ms ease;
        }
    }
}
