.article_body {
    p,
    a,
    li,
    i,
    strong,
    h1,
    h2,
    h3,
    h4, 
    figcaption {
        margin: 0;
        font-size: 1.5rem;
        line-height: 40px;
        text-align: left;
        letter-spacing: 14%;
        color: #191919;
        overflow-wrap: break-word;
        @media (max-width: 480px) {
            font-size: 0.5rem;
            line-height: 18px;
        }
    }
    p,
    a,
    li,
    i {
        color: #191919;
        font-weight: 300;
    }
    h1,
    h2,
    h3,
    h4,
    strong {
        color: #191919;
        font-weight: 700;
    }

    img,
    table {
        width: 100%;
    }
}
