footer {
    font-size: 1.2rem;
    line-height: 1.42967633em;
    letter-spacing: 0.009em;
    .left {
        color: #191919;
        h2 {
            color: #191919;
            font-weight: 300;
        }
        a {
            text-decoration: none;
            color: #191919;
            transition: 300ms ease;
            font-weight: 300;
            &:hover {
                color: #ff844f;
            }
        }
    }
    .right {
        .b_border {
            border-bottom: 1px solid #191919;
            a {
                text-decoration: none;
                color: #191919;
                transition: 300ms ease;
                font-weight: 300;
                &:hover {
                    color: #FFBF00;
                }
            }
        }
    }
}
