footer {
    font-size: 1.2rem;
    line-height: 1.42967633em;
    letter-spacing: 0.009em;
    .left {
        color: #005b96;
        h2 {
            color: #03396c;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            color: #005b96;
            transition: 300ms ease;
            &:hover {
                color: #ff844f;
            }
        }
    }
    .right {
        .b_border {
            border-bottom: 3px solid #03396c;
            a {
                text-decoration: none;
                color: #005b96;
                color: #03396c;
                font-weight: 500;
                transition: 300ms ease;
                &:hover {
                    color: #ff844f;
                }
            }
        }
    }
}
