.css-d1xm6m {
    background-color: transparent !important;
}

.css-1xomo8h-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: transparent !important;
}

.css-81kwad {
    background-color: transparent !important;
}
